<!DOCTYPE html>
<html lang="es-ES">

<head>
	<meta charset="UFT-8">
	<meta name="Forms" author="Viviana D">
	<title>Animalandia</title>
	<link type="image/x-icon" href="../assets/img/folder.svg" rel="icon">

	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
	<script src="https://kit.fontawesome.com/ca7c98bafe.js" crossorigin="anonymous"></script>
</head>

<body>


	<header class="container-fluid">
		<div class="row justify-content-between align-items-center">
			<div class="col-12 col-md-4 col-xl-4 text-center">
				<img src="../assets/img/logo.jpg" class="logo" alt="Animalandia">
			</div>

			<div class="col-12 col-md-5 col-xl-3 my-3 text-center">
				<a class="btn btn-primary ingresar" href="../views/login.html" role="button"><i
						class="bi bi-box-arrow-in-right"></i> Ingresar</a>
				<a class="btn btn-primary registrar" href="../views/login.html" role="button"><i
						class="bi bi-box-arrow-in-right"></i> Registrarse</a>
			</div>

		</div>
	</header>

	<nav class="navbar navbar-expand-lg navbar-dark px-3">
		<a class="navbar-brand"><i class="bi bi-arrow-right"></i></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav me-5 pe-5">
				<a class="nav-link active" aria-current="page" href="../views/index.html">Home</a>
				<a class="nav-link" href="../views/equipo.html">Equipo</a>
				<a class="nav-link" href="../views/servicios.html">Servicios</a>
				<a class="nav-link" href="../views/agenda.html">Agenda tu cita</a>
				<a class="nav-link" href="../views/contacto.html">Contacto</a>
			</div>
			<div class="navbar-search ms-5 ps-5">
				<form class="d-flex">
					<input class="form-control" type="search" placeholder="Search" aria-label="Buscar">
					<button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
				</form>
			</div>
		</div>
	</nav>
	<main class="container">
		<div class="contacto row justify-content-around px-3 py-3">
			<div class="fondo col-12 col-md-5 col-xl-4 mb-5 px-2 py-2">

				<form name="form" action="index.html" method="get" target="_self" autocomplete="autocomplete"
					novalidate>
					<h3>Registra tus datos para contactarnos contigo</h3>
					<div class="mb-3">
						<label for="exampleInputEmail1" class="form-label">Dirección de correo</label>
						<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
						<div id="emailHelp" class="form-text">Por este medio resolveremos tus inquietudes</div>
					</div>
					<div class="mb-3">
						<label for="exampleInputName" class="form-label">Nombre y Apellido</label>
						<input type="email" class="form-control" id="exampleInputName">
					</div>
					<div class="mb-3">
						<label for="exampleInputTel" class="form-label">Teléfono de contacto</label>
						<input type="email" class="form-control" id="exampleInputName"
							placeholder="celular o fijo con indicativo">
					</div>
					<div class="mb-3 form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">Deseo recibir mensajes promocionales</label>
					</div>
					<button type="submit" class="btn btn-primary">Enviar</button>
					<button type="submit" class="btn btn-secondary">Restablecer</button>
				</form>
			</div>
			<div class="fondo col-12 col-md-5 col-xl-4 text-center px-2 py-2">
				<article class="infocontacto">
					<h3>¿Como encontrarnos?</h3>
					<p><strong>Dirección: </strong>Carrera 19 #20-21 sur / Bogotá, Colombia</p>
					<p><strong>Teléfono: </strong>6012120282</p>
					<p><strong>Email: </strong>contacto@animalandia.com</p>
				</article>
				<article class="mapa">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.056880467706!2d-74.10588205038748!3d4.583811343921763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f98de8b2cdf01%3A0xcb94d4852598b934!2sKuepa%20-%20Restrepo!5e0!3m2!1ses!2sco!4v1646398874749!5m2!1ses!2sco"
						width="300" height="300" style="border:2px solid #c4c4c4;" allowfullscreen=""
						loading="lazy"></iframe>
				</article>

			</div>
		</div>
	</main>


	<footer class="container-fluid">
		<div class="row justify-content-around align-items-center py-3 footer-box">
			<div class="col-12 col-md-4 col-xl-4 text-center">
				<img src="../assets/img/bx-building 1.svg" alt="edificio">
				<h3>Sedes</h3>
				<p>Sede Kennedy<br>
					Sede Suba<br>
					Sede Fontibon<br>
					Sede Centro<br></p>
			</div>
			<div class="col-12 col-md-4 col-xl-4 text-center">
				<img src="../assets/img/bx-building 1.svg" alt="edificio">
				<h3>Contacto</h3>
				<p>Correo<br>
					PBX<br>
					Celular<br>
					Teléfono<br></p>
			</div>
			<div class="col-12 col-md-4 col-xl-4 text-center">
				<img src="../assets/img/bx-building 1.svg" alt="edificio">
				<h3>Redes sociales</h3>
				<p>Instagram<br>
					Twitter<br>
					Facebook<br>
					Telegram<br></p>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>

</body>

</html>