<!DOCTYPE html>
<html lang="es-ES">

<head>
	<meta charset="UFT-8">
	<meta name="Forms" author="Viviana D">
	<title>Animalandia</title>
	<link type="image/x-icon" href="img/folder.svg" rel="icon">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<script src="https://kit.fontawesome.com/ca7c98bafe.js" crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<section id="login">
			<div class="logo">
				<img src="img/logo.jpg" alt="Animalandia">
			</div>

			<div class="iconologin">
				<i class="fa-solid fa-right-to-bracket"></i>
			</div>
			<div class="sesion">
				<label for="usuario" class="label">Usuario</label>
				<input type="text" name="usuario" id="usuario" placeholder="Ingrese su usuario">
				<label for="password" class="password">Contraseña</label>
				<input type="password" name="password" id="password" placeholder="Ingrese su contraseña">
				<a href="dashboard.html"><button class="boton-azul">Ingresar</button></a>
				<button class="boton-morado">Registrarse</button>
				<a href="index.html">
					<h3 class="olvido">¿Olvidaste tu contraseña?</h3>
				</a>
			</div>
			<div class="animacion"></div>
		</section>
	</header>