<!DOCTYPE html>
<html lang="es-ES">

<head>
	<meta charset="UFT-8">
	<meta name="Forms" author="Viviana D">
	<title>Animalandia</title>
	<link type="image/x-icon" href="../assets/img/folder.svg" rel="icon">

	<link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
	<script src="https://kit.fontawesome.com/ca7c98bafe.js" crossorigin="anonymous"></script>
</head>

<body>

	<header class="container-fluid">
		<div class="row justify-content-between align-items-center">
			<div class="col-12 col-md-4 col-xl-4 text-center">
				<img src="../assets/img/logo.jpg" class="logo" alt="Animalandia">
			</div>

			<div class="col-12 col-md-5 col-xl-3 my-3 text-center">
				<a class="btn btn-primary ingresar" href="../views/login.html" role="button"><i
						class="bi bi-box-arrow-in-right"></i> Ingresar</a>
				<a class="btn btn-primary registrar" href="../views/login.html" role="button"><i
						class="bi bi-box-arrow-in-right"></i> Registrarse</a>
			</div>

		</div>
	</header>

	<nav class="navbar navbar-expand-lg navbar-dark px-3">
		<a class="navbar-brand"><i class="bi bi-arrow-right"></i></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav me-5 pe-5">
				<a class="nav-link active" aria-current="page" href="../views/index.html">Home</a>
				<a class="nav-link" href="../views/equipo.html">Equipo</a>
				<a class="nav-link" href="../views/servicios.html">Servicios</a>
				<a class="nav-link" href="../views/agenda.html">Agenda tu cita</a>
				<a class="nav-link" href="../views/contacto.html">Contacto</a>
			</div>
			<div class="navbar-search ms-5 ps-5">
				<form class="d-flex">
					<input class="form-control" type="search" placeholder="Search" aria-label="Buscar">
					<button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
				</form>
			</div>
		</div>
	</nav>

	<main>
		<section id="pagtips">
			<h3 class="servicio text-center">10 tips para mascotas</h3>
			<article class="tip">

				<ol>
					<li>La Higiene. No se limita solo a bañarlo, además, siempre es importante cortar sus uñas, limpiar
						sus
						oídos, sus dientes, pelaje, etc. Mantén limpio el comedero y bebedero de agua, así como su cama
						y
						entorno.</li>
					<li>Ejercita a tu mascota. Sacarlo de paseo una o dos veces al día lo ayudará a mantenerse siempre
						saludable. Camina y juega con él.</li>
					<li>Hazle cariño. Tener contacto con tu mascota para hacerle cariño te ayudará a ganar su confianza.
						Sé
						amoroso y realízale masajes para que se relaje. Lo valorarán.</li>
					<li>Visitas al veterinario. Sus vacunas y chequeos siempre son necesarios. El carné con su
						información
						no debe faltar.</li>
					<li>Alimentación adecuada. De acuerdo con su raza, tamaño y edad, tu perro requiere tener la
						alimentación correcta. No siempre lo más barato es lo más conveniente.</li>
					<li>La esterilización. Si tienes perros o gatos y no deseas tener más mascotas, es recomendable
						esterilizarlo. La época del celo puede ser complicada y despertar conductas agresivas.</li>
					<li>Socializar lo hace feliz. Permite que tu mascota juegue con otros perros y personas, lo hará más
						amigable.</li>
					<li>Premia sus buenas acciones. Si tu mascota cumple satisfactoriamente con algo que le pediste
						hacer,
						prémialo y corresponde sus buenas acciones con snacks o cariño.</li>
					<li>Educación. Saber el tiempo indicado para comer, salir de paseo, objetos para jugar y lugar para
						dormir o hacer sus necesidades será vital para que tu perro aprenda convivir.</li>
					<li>Disfrútalo al máximo. Las mascotas tienen una vida más corta que los humanos, por ello,
						aprovecha
						cada momento para consentirlo, disfrutar de su cariño y compañía.</li>
				</ol>

			</article>

		</section>


	</main>
	<footer class="container-fluid">
		<div class="row justify-content-around align-items-center py-3 footer-box">
			<div class="col-12 col-md-4 col-xl-4 text-center">
				<img src="../assets/img/bx-building 1.svg" alt="edificio">
				<h3>Sedes</h3>
				<p>Sede Kennedy<br>
					Sede Suba<br>
					Sede Fontibon<br>
					Sede Centro<br></p>
			</div>
			<div class="col-12 col-md-4 col-xl-4 text-center">
				<img src="../assets/img/bx-building 1.svg" alt="edificio">
				<h3>Contacto</h3>
				<p>Correo<br>
					PBX<br>
					Celular<br>
					Teléfono<br></p>
			</div>
			<div class="col-12 col-md-4 col-xl-4 text-center">
				<img src="../assets/img/bx-building 1.svg" alt="edificio">
				<h3>Redes sociales</h3>
				<p>Instagram<br>
					Twitter<br>
					Facebook<br>
					Telegram<br></p>
			</div>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
		integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
		integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
		crossorigin="anonymous"></script>

</body>

</html>